.prizes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  padding: 14.6rem 0 7.7rem;

  @media (min-width: $stop-scaling) {
    padding: 146px 0 65px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 5.9rem 0;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 9rem 0 6rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 5rem 0 1.5rem;
  }
}

.prizes__title {
  margin: 0 0 6rem;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  font-family: $font-alt;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 0.906;

  @media (min-width: $stop-scaling) {
    font-size: 48px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-bottom: 1.8rem;

    font-size: 3.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-bottom: 2rem;

    font-size: 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-bottom: 1rem;

    font-size: 2rem;
  }
}

.prizes__lead {
  max-width: 34rem;
  margin-bottom: -5.6rem;
  margin-left: 5.8rem;

  text-transform: uppercase;

  opacity: 0;

  font-size: 2.4rem;
  line-height: 1.2;

  .screen--prizes.active & {
    animation: fade-in 0.3s ease-out 0.85s both;

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  @media (min-width: $stop-scaling) {
    max-width: 340px;
    margin-bottom: -56px;
    margin-left: 58px;

    font-size: 24px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    max-width: 22rem;
    margin-bottom: 3.2rem;
    margin-left: 2.5rem;

    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-left: 2rem;

    font-size: 2rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    max-width: 20rem;

    font-size: 1.4rem;
  }

  p {
    margin: 0;
  }
}

.prizes__list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  margin-top: auto;

  @include list-reset;

  @media (max-width: $tablet) and (orientation: portrait) {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    margin: auto 0;
    padding-left: 2rem;
  }
}

.prizes__item {
  margin-left: 7.5rem;

  transition: opacity 0.4s ease-out;

  opacity: 0;

  .screen--prizes.active & {
    opacity: 1;

    // @include sequence-delay("transition", 0, 3, 3.4s, 0.4s);
  }

  @media (min-width: $stop-scaling) {
    margin-left: 75px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    display: flex;
    align-items: flex-end;

    margin-bottom: 2.8rem;
    margin-left: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-left: 5rem;
  }

  &--journeys {
    transition: opacity 0.4s ease-out 0.5s, transform 0.5s ease-out 1.5s;
    transform: translateX(330px);

    &.visible {
      transform: translateX(0);
    }

    .screen--prizes.animated {
      transition-delay: 0.5s;
    }

    .prizes__icon {
      bottom: -0.5rem;
      left: -8.8rem;

      width: 26.8rem;

      @media (min-width: $stop-scaling) {
        bottom: -5px;
        left: -88px;

        width: 268px;
      }

      @media (max-width: $tablet) and (orientation: portrait) {
        bottom: 0;
        left: 0;

        width: 9.4rem;

        transform: translateX(0);

        .screen--prizes.active & {
          transition-delay: 0.5s;
        }
      }

      @media (max-width: $tablet) and (orientation: landscape) {
        left: -3.8rem;

        width: 13rem;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        bottom: -1.2rem;
        left: -3.2rem;

        width: 10rem;
      }
    }
  }

  &--cases {
    margin-left: 7rem;

    .screen--prizes.active & {
      transition-delay: 4s;

      &.animated {
        transition-delay: 0.75s;
      }
    }

    @media (min-width: $stop-scaling) {
      margin-left: 70px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin-left: 0;
      padding-left: 1.5rem;

      .screen--prizes.active & {
        transition-delay: 0.75s;
      }
    }

    .prizes__icon {
      bottom: -0.4rem;
      left: -14.8rem;

      width: 18.8rem;

      @media (min-width: $stop-scaling) {
        bottom: -4px;
        left: -148px;

        width: 188px;
      }

      @media (max-width: $tablet) and (orientation: portrait) {
        bottom: 0;
        left: 0;

        width: 10.211rem;
        margin-right: 1.3rem;
      }

      @media (max-width: $tablet) and (orientation: landscape) {
        bottom: -0.7rem;
        left: -7rem;

        width: 9.5rem;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        bottom: -1.2rem;
        left: -5.2rem;

        width: 7rem;
      }
    }
  }

  &--codes {
    .screen--prizes.active & {
      transition-delay: 6.5s;

      &.animated {
        transition-delay: 1s;
      }
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      padding-left: 0.8rem;

      .screen--prizes.active & {
        transition-delay: 1s;
      }
    }

    .prizes__icon {
      bottom: -0.4rem;
      left: -4.4rem;

      width: 26rem;

      @media (min-width: $stop-scaling) {
        bottom: -4px;
        left: -44px;

        width: 260px;
      }

      @media (max-width: $tablet) and (orientation: portrait) {
        bottom: 0;
        left: 0;

        width: 8.66rem;
      }

      @media (max-width: $tablet) and (orientation: landscape) {
        left: -2.2rem;

        width: 13rem;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        bottom: -1.2rem;
        left: -1.8rem;

        width: 10rem;
      }
    }
  }
}

.prizes__icon {
  position: relative;

  .screen--prizes:not(.visited) & {
    display: none;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-right: 3.8rem;
  }

  svg {
    width: 35rem;
    height: 33rem;

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 17.2rem;
      height: auto;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      display: none;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 13.2rem;
    }

    @media (prefers-reduced-motion: reduce) {
      display: none;
    }
  }

  img {
    display: none;

    width: 100%;
    height: auto;

    @media (max-width: $tablet) and (orientation: portrait) {
      display: block;
    }

    @media (prefers-reduced-motion: reduce) {
      display: block;
    }
  }
}

.prizes__desc {
  display: flex;
  align-items: flex-end;

  margin: 5.6rem 0 0 0;

  font-size: 1.8rem;
  line-height: 1.1;

  @media (min-width: $stop-scaling) {
    margin-top: 56px;

    font-size: 18px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    align-items: flex-start;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: -0.5rem;
    margin-left: 0;

    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-top: 3rem;

    font-size: 1.1rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 0.8rem;
  }

  svg {
    flex: none;

    width: 1rem;
    height: 1rem;
    margin-bottom: 0.3rem;
    margin-left: 1rem;

    @media (min-width: $stop-scaling) {
      width: 10px;
      height: 10px;
      margin-bottom: 3px;
      margin-left: 10px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin-left: 0;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}

.prizes__number {
  transition: opacity 0.1s ease-out;

  opacity: 0;

  font-family: $font-alt;
  font-size: 12rem;
  font-weight: 400;
  line-height: 0.55;

  .prizes__desc.animated & {
    opacity: 1;
  }

  .prizes__item--cases & {
    min-width: 6.6rem;

    @media (max-width: $tablet) and (orientation: landscape) {
      min-width: 3.4rem;
    }
  }

  .prizes__item--codes & {
    min-width: 19.5rem;

    @media (max-width: $tablet) and (orientation: landscape) {
      min-width: 10rem;
    }
  }

  @media (min-width: $tablet) {
    text-align: right;
  }

  @media (min-width: $stop-scaling) {
    font-size: 120px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    font-size: 4.8rem;
    line-height: 0.6;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    font-size: 6rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 3.5rem;
  }
}

.prizes__desc-text {
  display: flex;
  align-items: flex-end;

  max-width: 14rem;
  margin-left: 1.4rem;

  transition: opacity 0.3s ease-out 0.1s, transform 0.3s ease-out 0.1s;
  transform: translateX(1.2em);

  opacity: 0;

  .prizes__desc.animated & {
    transform: translateX(0);

    opacity: 1;
  }

  @media (min-width: $stop-scaling) {
    max-width: 140px;
    margin-left: 14px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    max-width: 11rem;
    margin-left: 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    max-width: 13rem;
    margin-left: 1rem;
  }
}
