.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  .result__image {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

    &--suitcase {
      z-index: 4;
      max-width: 400px;
      left: calc(50% - 190px);
      bottom: -150px;

      @media (max-width: $tablet) {
        bottom: -170px;
      }

      @media (max-width: $mobile) {
        bottom: -110px;
      }
    }

    &--flamingo {
      z-index: 5;
      max-width: 300px;
      left: calc(50% - 210px);
      bottom: -115px;
      animation-name: show-flamingo, float-flamingo;
      animation-duration: 0.4s, 1.9s;
      animation-fill-mode: both, forwards;
      animation-timing-function: ease-in-out, cubic-bezier(0.05, 0.25, 0.89, 0.7);
      animation-delay: 1.4s, 1.9s;
      animation-iteration-count: 1, infinite;
      animation-direction: normal, alternate;

      @media (max-width: $tablet) {
        bottom: -145px;
      }

      @media (max-width: $mobile) {
        bottom: -85px;
      }
    }

    &--leaf-blue-1 {
      z-index: 3;
      max-width: 280px;
      bottom: 220px;
      left: calc(50% + 60px);

      @media (max-width: $tablet) {
        bottom: 200px;
      }

      @media (max-width: $mobile) {
        bottom: 240px;
      }
    }

    &--leaf-blue-2 {
      z-index: 3;
      max-width: 280px;
      bottom: 100px;
      left: calc(50% - 320px);

      @media (max-width: $tablet) {
        bottom: 80px;
      }

      @media (max-width: $mobile) {
        bottom: 150px;
      }
    }

    &--leaf-green {
      z-index: 3;
      max-width: 335px;
      bottom: 170px;
      left: calc(50% + 45px);

      @media (max-width: $tablet) {
        bottom: 145px;
      }

      @media (max-width: $mobile) {
        bottom: 205px;
      }
    }
  }
}

.screen--result.screen--show .result__image {
  &--suitcase {
    animation-name: show-suitcase;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 1.3s;
  }

  &--flamingo {
    animation-name: show-flamingo, float-flamingo;
    animation-duration: 0.4s, 1.9s;
    animation-fill-mode: both, forwards;
    animation-timing-function: ease-in-out, cubic-bezier(0.05, 0.25, 0.89, 0.7);
    animation-delay: 1.4s, 1.9s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
  }

  &--leaf-blue-1 {
    animation-name: show-leaf-blue-1;
    animation-duration: 1.7s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
  }

  &--leaf-blue-2 {
    animation-name: show-leaf-blue-2;
    animation-duration: 1.7s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
  }

  &--leaf-green {
    animation-name: show-leaf-green;
    animation-duration: 1.6s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 1.6s;
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  .screen--result.screen--show & {
    animation-name: show-result-button;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 0.75s;

    span {
      animation-name: roll-in-result-button;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      animation-delay: 0.75s;
    }
  }

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    &.result__button-restart-icon {
      --dashoffset-length: 50;

      stroke-dasharray: 50;
      stroke-dashoffset: var(--dashoffset-length);

      .screen--result.screen--show & {
        animation: dash-in 0.4s linear 1.2s forwards;
      }
    }

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}

@keyframes show-suitcase {
  0% {
    transform: translateY(70px) scale(0);
  }

  50% {
    transform: translateY(-300px) scale(1.2);
  }

  100% {
    transform: translateY(-250px) scale(1);
  }
}

@keyframes show-flamingo {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }

  100% {
    opacity: 1;
    transform: translateY(-250px);
  }
}

@keyframes float-flamingo {
  0% {
    transform: rotate(1deg) translate(0, -250px);
  }

  100% {
    transform: rotate(-2deg) translate(-4px, -220px);
  }
}

@keyframes show-leaf-blue-1 {
  0% {
    opacity: 0;
    transform: rotate(-20deg);
  }

  20% {
    transform: rotate(20deg);
  }

  40% {
    transform: rotate(-15deg);
  }

  60% {
    opacity: 1;
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: none;
  }
}

@keyframes show-leaf-blue-2 {
  0% {
    opacity: 0;
    transform: rotate(25deg);
  }

  20% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  60% {
    opacity: 1;
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  100% {
    transform: none;
  }
}

@keyframes show-leaf-green {
  0% {
    opacity: 0;
    transform: rotate(-15deg);
  }

  20% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-5deg);
  }

  60% {
    opacity: 1;
    transform: rotate(3deg);
  }

  80% {
    transform: rotate(-1deg);
  }

  100% {
    transform: none;
  }
}

@keyframes show-result-button {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes roll-in-result-button {
  0% {
    transform: translateX(50px) rotate(180deg);
  }

  100% {
    transform: none;
  }
}
